:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --white-color: #ffffff;
  --bg-text-color: rgba(47, 48, 58, 0.8);
  --bg-footer-color: #2f303a;
  --bg-team-color: #f5f4fa;
  --address-text-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--white-color);
  color: var(--primery-text-color);
}

.list {
  list-style: none;
}

/* Site nav */

.logo {
  color: var(--accent-text-color);
}

.logo .studio {
  color: var(--title-text-color);
}

.site-nav a {
  color: var(--title-text-color);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-text-color);
}

.site-nav .current {
  color: var(--accent-text-color);
}

/* Sing in */

.auth-nav a {
  color: var(--primery-text-color);
}

.auth-nav a:hover,
.auth-nav a:focus {
  color: var(--accent-text-color);
}

/* Hero */

.hero {
  background-color: var(--bg-text-color);
}

.hero .title {
  color: var(--white-color);
}

.button {
  color: var(--white-color);
  background-color: var(--accent-text-color);
}

/* Work */

.work .title {
  color: var(--title-text-color);
}

/* What are we doing */

.doing .title {
  color: var(--title-text-color);
}

.doing .text {
  color: var(--white-color);
  background-color: var(--bg-text-color);
}

/* Team */

.team {
  background-color: var(--bg-team-color);
}

.team .title {
  color: var(--title-text-color);
}

.social a:hover,
.social a:focus {
  background-color: var(--accent-text-color);
}

/* Clients */

.clients .title {
  color: var(--title-text-color);
}

.clients a:hover {
  background-color: var(--accent-text-color);
}

/* Footer */
.footer {
  background-color: var(--bg-footer-color);
}

.footer .studio {
  color: var(--white-color);
}

.address a {
  color: var(--white-color);
}

.mail a,
.phone a {
  color: var(--address-text-color);
}

.join {
  color: var(--white-color);
}
